*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/gradle
gradlew
gradlew.bat
/.idea
build/*
/app/src/androidTest
/app/src/test



