<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liang.tind.www.tindtest">

    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.TindApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activty.EmptyActivity"></activity>
        <activity android:name=".activty.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activty.TestSocketActivity" />
        <activity android:name=".activty.TestChromiumActivity" />
        <activity android:name=".activty.TestHRFace" />
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".activty.TestBuglyAndResProguad" />
        <activity android:name=".activty.TestRxjavaActivity" />
        <activity android:name=".activty.TestRotateImageViewActivity" />
        <activity android:name=".activty.TestTalkBackActivity" />
        <activity android:name=".activty.TestRbtnActivity" />
        <activity android:name=".activty.TestRecyclerViewActivity" />
        <activity android:name=".activty.TestBarChartActivity" />
        <activity android:name=".activty.TestLineChartActivity" />
        <activity android:name=".activty.widget.TestWidgetActivity" />
        <activity android:name=".activty.widget.TestOnTouchEventActivity" />
        <activity android:name=".activty.widget.TestViewActivity" />
        <activity android:name=".activty.widget.TestRvActivity" />
        <activity
            android:name=".activty.widget.TestSoftInputActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activty.widget.TestMotionLayoutActivity" /> <!-- <activity android:name=".activty.TestLineChartActivity"/> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>